
<h1>Class Manager</h1>
<nav>
	<ul>
		<li><a href="http://{{host}}:{{port}}/login/user" title="">go to login</a></li>
		<li><a href="http://{{host}}:{{port}}/register/user" title="">go to register</a></li>
		<li><a href="http://{{host}}:{{port}}/download" title="">download</a></li>
	</ul>
</nav>




<script type="text/javascript">
	// window.onload = function() {
	// 	var request = new XMLHttpRequest();
	// 	request.open("GET", 'http://localhost:3000/data');
	// 	request.setRequestHeader('Content-Type', 'text/plain');
	// 	request.onreadystatechange = function() {
	// 		if (request.readyState === 4 && request.status === 200) {
	// 			alert(request.responseText);
	// 		}
	// 	}
	// 	request.send();
	// }
</script>	