<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="{{time}};url=http://{{host}}:{{port}}{{path}}" />
	<style type="text/css" media="screen">
		p {
			font-size: 28px;
		}
	</style>
	<title>Class Manger</title>
</head>
<body>
	<p>{{message}}</p>
</body>
</html>